@page "/"

<PageTitle>Axén Intelligence</PageTitle>


<div data-bs-spy="scroll" data-bs-target="#navbar" data-bs-offset="70" tabindex="0">
    <AI.Pages.Components.NavMenu />
    <AI.Pages.Components.HeroSection />
    <AI.Pages.Components.ServicesSection />
    <AI.Pages.Components.AboutSection />
    <AI.Pages.Components.StatisticsSection />
    <AI.Pages.Components.TestimonialSection />
    <AI.Pages.Components.TeamSection />
    <AI.Pages.Components.ContactSection />
    <AI.Pages.Components.BlogSection />
</div>