<section id="about" class="about-section py-5" data-aos="fade-right">
    <div class="container">
        <h2 class="section-title text-center text-dark display-6 fw-normal">OM OSS</h2>
        <div class="row align-items-center">
            <div class="col-md-6">
                <p class="fs-4">
                    Axén Intelligence är ett innovativt företag med inriktning på artificiell intelligens och maskininlärning.
                    Vi hjälper företag att komma igång med AI samt skapa lösningar som ökar effektiviteten och stärker konkurrenskraften.
                </p>
                <p class="fs-5">
                    Med ett passionerat fokus på varje kunds unika behov levererar vi skräddarsydda AI-tjänster som gör skillnad från dag ett.
                </p>
            </div>
            <div class="col-md-6">
                <img src="/OMOSS.jpg" alt="Om oss" class="img-fluid rounded" data-aos="fade-left" />
            </div>
        </div>
    </div>
</section>