<section class="testimonials-section text-center py-5 bg-light">
    <h2 class="section-title text-center text-dark display-6 fw-normal mb-5">VÅRA KUNDER SÄGER</h2>
    <div class="container">
        <div class="row gy-4">
            <div class="col-md-4 d-flex">
                <div class="testimonial-card flex-fill p-4">
                    <p class="testimonial-text">”Axén Intelligence minskade vår analystid med 70%! Aldrig mer manuellt arbete!”</p>
                    <p class="testimonial-author">– Sara B, Operativ chef</p>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="testimonial-card flex-fill p-4">
                    <p class="testimonial-text">”Som att anställa ett helt supportteam över natten.”</p>
                    <p class="testimonial-author">– Mikael L, VD</p>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="testimonial-card flex-fill p-4">
                    <p class="testimonial-text">”Enkelt att integrera och fantastiska resultat direkt.”</p>
                    <p class="testimonial-author">– Jenny K, Marknadsansvarig</p>
                </div>
            </div>
        </div>
    </div>
</section>
